*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* body{
    background-color: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
} */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    /* background: linear-gradient(245.59deg, #a85091 0%, #279ba3 28.53%, #13746c 75.52%); */
    background: linear-gradient(
        to left,
        red,
        orange,
        yellow);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;  
}
ul a:hover{
     border-bottom: 1px solid green;
}
li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 200;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
    color: green;
}
header img{
    height: 45px;
    font-weight: 900;
    border-radius: 30px;
}
.content{
    margin-top: 70px;
    background: transparent;
    width: 600px;
}
.textBox h2{
    font-size: 55px;
    letter-spacing: 3px;
}
.textBox span{
    color: green;
    font-size: 70px;
    font-weight: 700;
}
.textBox p{
    font-weight: 300;
    font-size: 15px;
}
.divs{
    margin-top: 40px;
}
.divs a{
    background: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;   
}
.imgBox img{
    position: relative;
    height: 550px; 
    cursor: pointer; 
}
.icons{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 800;
    gap: 100px;
    margin-top: 30px;   
}
.icons a{
    color: #333;
    font-weight: 900;
}

.mobile{
    display: none;
}
.Menu-icon{
    display: none;
}
.cups{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* margin-bottom: 75px; */
    cursor: pointer;
    gap: 50pxpx;
    transition: All 0.5s;
}
.cups img:hover{
    transform: translateX(5px);
}
.cups img{
    height: 200px;
      /* gap: 25px; */
}
img.Mob{
    display: none;
}


@media(max-width: 600px){
    .mobile{
    display: block;
    width: 200px;
    flex-direction: column;
    background: black;
    height: 100%;
    /* top: ; */
    bottom: 0;
    left: -200px;
    margin: 0;
    align-items: center;
    transition: 0.8s;
    /* position: fixed; */
    
    }
    header.active{
        left: 0;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 50px;
        flex-direction: column;
        font-weight: 800;
        cursor: pointer;
        margin-right: 210px;  
    }
    li a{
        cursor: pointer;
    }
    /* ul a{
        color: white;
    } */
    
    .nav-desktop{
        display: none;
    }
    .logo{
        display: flex;
        gap: 150px;
        /* margin-bottom: 20px; */
        top: 0;
    }
    
    .logo h2{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        margin-left: 185px;
    }
    h2{
        float: right;
        /* margin-left:px; */
    }
     img{
        font-size: 10px;
    }
    .Menu-icon{
        display: block;
        font-size: 25px; 
        cursor: pointer;
        /* position: fixed;  */
    }
    h2.close-icon{
        color: #fff;
        margin-left: 83px;
        
    }
    
/* the body */
.textBox h2{
    font-size: 40px;
}
.textBox span{
    color: green;
    font-size: 50px;
    font-weight: 400;
}
.textBox p{
    font-weight: 300;
    font-size: 10px;
}
.textBox{
    margin-top: 100px;
}
.divs{
    margin-top: 30px;
}
.divs a{
    background: green;
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;   
}
.imgBox img{
    position: relative;
    height: 225px;  
}

.icons{
    display: none;
}
.cups{
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
}
.cups img{
        height: 75px;
}
.imgBox{
    display: none;
}
section{
    width: 200px;
    height: 100vh;
}
.divs a{
    background: green;
    padding: 8px 16px;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;   
}
.divs a:hover{
    background: rgb(22, 65, 22);
}
ul a:hover{
    display: none;
}
body{
    background: linear-gradient(
        to right,
        red,
        rgb(5, 98, 101));
}
a .logo{
    display: none;
}
img.Mob{
    display: block;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
}
header{
    display: none;
}
   }


